body {
  min-height: 100vh;
}

.alert-area {
  width: 100vw; 
  height: 100vh; 
  position: fixed; 
  left: 0; 
  top: 0;
  z-index: 40;
  pointer-events: none;
}

.avatar {
  width: 64px; 
  height: 64px; 
  display: inline-block; 
  padding: 0 2px;
}

.spinner::after{
  position: absolute;
  left: calc(50% - (2em / 2)); 
  top: calc(50% - (2em / 2));
  position: absolute !important;
  -webkit-animation: spinAround .5s infinite linear;
  animation: spinAround .5s infinite linear;
  border: 4px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;border-top-color:transparent;
  content: "";
  display: block;
  height: 2em;
  position: relative;
  width: 2em;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

